{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Log in {%endblock%}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{% static "images/guitar.jpg" %}" class="d-block w-100" alt="im1">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/korea.jpg" %}" class="d-block w-100" alt="im2">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/dance.jpg" %}" class="d-block w-100" alt="im3">
      </div>
    </div>
  </div>

   <div class="container mt-5">
        <article>Educaton é uma plataforma voltada para o auxilio do ensino. Aqui pode-se fazer testes baseados na teoria das inteligências múltiplas e, através deles, descobrir o seu perfil.
            A plataforma também recomenda conteúdo para estudar de acordo com o perfil de cada usuário.
        </article>
   </div>

   <div class="container mt-5 mb-5">
       <article>Essa plataforma está sendo desenvolvida como um projeto de extensão na universidade federal de são paulo. 
           Alunos integrantes:

       </article>
   </div>

{% endblock %}