ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.question {
    background-color: #bdd9e6be;
    padding: 20px;
    margin: 20px;
}

.questions_text{
    color: #35312c;
    
    margin-top: 40px;
    padding: 10px;
}
.title{
    background-color: #3f0dcabe;
    
    
    margin-top: 20px;
    padding: 20px;
}
.title_string{
    color: #ffffff;
}


.radiobuttons{
    margin-left: 40px;
    
}

.botaodesubmissao{
    text-align:center;
    padding: 10px;
}
