<head>
    {% load static %}
    <link type="text/css" href="{% static 'questions/style5.css' %}" rel="stylesheet">  
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-default">
        <button type="button" id="sidebarCollapse" class="navbar-btn bg-default">
            <span></span>
            <span></span>
            <span></span>
        </button>
        
        <div class="container">
            <a class="navbar-brand" href="">Educaton</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-default">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="">Educaton</a>
                            <!-- <a href="index.html">
                                <img src="assets/img/brand/blue.png">
                            </a> -->
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
    
                <ul class="navbar-nav ml-lg-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="/accounts/cadastrar/">
                            Cadastrar
                            <span class="nav-link-inner--text d-lg-none">Discover</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="/accounts/login/">
                            Entrar
                            <span class="nav-link-inner--text d-lg-none">Profile</span>
                        </a>
                    </li> -->
                    <li class="nav-item dropdown">
                        
                        <a class="nav-link nav-link-icon" href="#" id="navbar-default_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.get_username }}
                           
                            <i class="ni ni-bold-down"></i>
                            
                            <span class="nav-link-inner--text d-lg-none">Settings</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                            <a class="dropdown-item" href="#"> <i class="ni ni-single-02"></i>{{ user.email }}</a>
                            <a class="dropdown-item" href="{% url  'autentication:logout' %}"><i class="ni ni-bold-left"></i> Sair</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Conta</a>
                        </div>
                    </li>
                </ul>
    
            </div>
        </div>
    </nav>
    <div class="wrapper stretch">
        <!-- Sidebar Holder -->
        <nav class="navbar bg-default" id="sidebar">
            <ul class="list-unstyled components bg-default">
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle bg-default">Turmas</a>
                    <ul class="collapse list-unstyled bg-default" id="pageSubmenu">
                        <li>
                            <a href="#" class="bg-default">Turma 1</a>
                        </li>
                        <li>
                            <a href="#"class="bg-default">Turma 2</a>
                        </li>
                        <li>
                            <a href="#"class="bg-default">Turma 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Sobre</a>
                    
                </li>
                <li>
                    <a href="#">Estatísticas</a>
                </li>
                <li>
                    <a href="#">Contato</a>
                </li>
            </ul>
        </nav>
        
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
    
    