{% load static %}
<link type="text/css" href="{% static 'questions/menu.css' %}?v43?" rel="stylesheet">

<div class="d-flex" id="wrapper">
    <div class=" border-right" id="sidebar-wrapper" style="background-color:#f2f2f2;">
      <div class="list-group list-group-flush">
        <!-- <a id="lista" href="#turmaSubmenu" class="list-group-item list-group-item-action bg-light dropdown-toggle" aria-expanded="false" data-toggle = "collapse" >Turmas</a> -->
            <!-- <ul class="collapse list-unstyled" id="turmaSubmenu">
                <li>
                    <a class="list-group-item list-group-item-action bg-light" href="#">Turma 1</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-action bg-light" href="#">Turma 2</a>
                </li>
                <li>
                    <a class="list-group-item list-group-item-action bg-light" href="#">Turma 3</a>
                </li>
            </ul> -->
            <a href="/turmas/" class="list-group-item list-group-item-action " style="background-color:#f2f2f2;">Turmas</a> 
            <a href="/accounts/profile/" class="list-group-item list-group-item-action " style="background-color:#f2f2f2;">Início </a>       
      </div>
    </div>
