{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block navbar %} {% include 'pagina_do_usuario/login_nav_bar.html' %} {% endblock %}
{% block menu %} {% include 'pagina_do_usuario/menu.html' %} {% endblock %}
{% block content %}

<div class= "container">
{% if countanswer1 < 80 or countanswer2 < 80 %}
<div class="container-fluid  pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-xl">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-primary pb-5">
                <div class="text-muted text-center mb-3">
                  <a class = "text-white">Você ainda não acabou de responder os questionários !!!!</a>
                </div>
                <div class="text-center">
                  {% if countanswer2 < 80 %}
                  <a href="/questions/form2/" class="btn btn-neutral btn-lg btn-block">
                    <!-- <span class="btn-inner--icon">
                      <img src="../assets/img/icons/common/github.svg">
                    </span> -->
                    <span class="btn-inner--text">Questionário de inteligências múltiplas</span>
                  </a>
                  {% endif %}
                  {% if countanswer1 < 80 %}
                  <a href="/questions/form1/" class="btn btn-neutral btn-lg btn-block">
                    <!-- <span class="btn-inner--icon">
                      <img src="../assets/img/icons/common/google.svg">
                    </span> -->
                    <span class="btn-inner--text">Questionário de estilos de aprendizagem</span>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endif %}
<div class="row justify-content-center">
    <div class="col-md">
    {% if countanswer2 >= 80 %}
    <div class="container-fluid mt-4"> 
      <div  class="text-center">
        {{ grafico_int|safe }}
      </div>
    </div>
    {% endif %}
    </div>
    <div class="col-md">
        <div class="card border-info mt-4">
            <div class="card-body">
              <h5 class="card-title">Inteligências múltiplas</h5>
              <p class="card-text">A teoria de inteligências múltiplas vem sendo desenvolvida desde 1980. Um dos principais nomes nesse campo é o psicólogo Howard Gardner, pesquisador na universidade de Harvard. </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>

</div>

<div class="row justify-content-center">
{% if countanswer1 >= 80 %}
<div class="container mt-4"> 
  <div  class="text-center">
    {{ grafico_estilos|safe }}
  </div>
</div>
{% endif %}
</div>

</div>
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% endblock %}