{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
<link rel="stylesheet" type="text/css" href="{% static 'questions/teste.css' %}">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% if questions %}
    <div class="title">    
        <a class="title_string">Questionário</a>
    </div>    
    <ul>
    <form action="{% url 'questions:resposta' %}" method="post">
    {% csrf_token %}   
        {% for question in questions %}
            <li class="question"><a class ="questions_text">{{ question.question_text }}</a></li>
            {% for a in question.answers_set.all %}
                <div class="radiobuttons" >
                    <input  type="radio" name="choice{{forloop.parentloop.counter}}" id="choice{{ forloop.counter }}" value="{{ a.id }}">
                    <label  for="choice{{ forloop.counter }}">{{ a.answers_text }}</label><br>
                </div>
            {% endfor %}      
        {% endfor %}

    <li class ="botaodesubmissao"><input type="submit" value="Submeter respostas"></li>
    </form>    
    </ul>
{% else %}
    <p>Questionário indisponível</p>
{% endif %}

