<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello World!</title>
  {% load static %}
  <!-- Favicon -->
  <link  href="{% static 'argon-design-system-master/assets/img/brand/favicon.png' %}" rel="icon" type="image/png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <!-- Icons -->
  <link href="{% static 'argon-design-system-master/assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
  <link href="{% static 'argon-design-system-master/assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Argon CSS -->
  <link type="text/css" href="{% static 'argon-design-system-master/assets/css/argon.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'questions/slider.css' %}" rel="stylesheet">

</head>
<body>
        <!-- {% include 'questions/slider.html' %} -->
        <div class="container">
        <div class="progress-wrapper">
                <div class="progress-info">
                  <div class="progress-label">
                    <span>Parte do quetionário respondido</span>
                  </div>
                  <div class="progress-percentage">
                    <span>{{ valor_completada }}%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ valor_completada }}" aria-valuemin="0" aria-valuemax="100" style= "{{ porcentagem_completada }}"></div>
                </div>
              </div>
            </div>
    <div class="container">
      {% if questions %}
          <div class="title">    
              <a class="title_string">Questionário</a>
          </div>    
          <ul>
          <form action="{% url 'questions:resposta' %}" method="post">
          {% csrf_token %}   
          
              {% for question in questions %}
                <input type="hidden" value="{{question.form}}" id="id" name="questionform" >
                  <li class="question"><a class ="questions_text">{{ question.question_text }}</a></li>
                  <div class="slider_container">
                      <input type="hidden" value="{{question.id}}" id="id{{ forloop.counter }}" name="questionid{{ forloop.counter }}" >
                  <input  class="slider" id="slider{{ forloop.counter }}" name="slider{{ forloop.counter }}" type="range" value="0" min="0" max="3" step="1" />
                  </div>

              {% endfor %}

          <input class="btn btn-primary btn-block mt-4 mb-5" type="submit" value="Submeter respostas">
          </form>    
          </ul>
      {% else %}
          <p>Você terminou o questionário</p>
      {% endif %}
    </div>
<!-- Core -->
<script src="{% static 'argon-design-system-master/assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'argon-design-system-master/assets/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'argon-design-system-master/assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

<!-- Optional plugins -->
<script src="{% static 'argon-design-system-master/assets/vendor/PLUGIN_FOLDER/PLUGIN_SCRIPT.js' %}"></script>
<script src="{% static 'argon-design-system-master/assets/vendor/nouislider/js/nouislider.min.js' %}"></script>
<!-- Theme JS -->
<script src="{% static 'argon-design-system-master/assets/js/argon.js' %}"></script>
</body>
</html>
