{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block navbar %} {% include 'pagina_do_usuario/login_nav_bar.html' %} {% endblock %}
{% block menu %} {% include 'pagina_do_usuario/menu.html' %} {% endblock %}

{% block content %}

<div class= "container pt-lg-md ">
        <div class="row  ">
               <div class="col ml-2">
                <h5>{{turma.nome}}</h5>
               </div>
               <div class="col text-right">
                <h5>Código da turma: {{turma.id}}</h5>     
               </div>
        </div>
        <div class="row justify-content-left ml-2 mb-4">
                <h6>{{turma.descricao}}</h6>
        </div>   
        <div class="row justify-content-center">
                <div class="col">
                    <div  class=" text-center m-1">
                      {{ grafico_int|safe }}
                    </div>
                </div>
                <div class="col"> 
                     <div  class=" text-center m-1">
                       {{ grafico_estilos|safe }}
                     </div>
                </div>
         </div>
         <div class="row justify-content-left m-2 mt-5" >
                <h5>Integrantes da turma:</h5>
         </div>
         <div class="row justify-content-left ml-2">
            <div class="card-deck mt-3">
                            
                    <!-- <a href="#" class="btn btn-success ml-3 mb-3">+</a> -->
                
                    {% if alunos %}
                        {% for t in alunos %}
                        <div class="card border-primary m-3" style="max-width: 20rem;">
                                {% if mestre %}
                                <a href="/accounts/profile/{{ t.id }}/">
                                {% endif %}
                                        <div class="card-body">
                                        <h5 class="card-text">{{t.first_name}} {{t.last_name}}</h5>
                                        </div>
                                </a>
                        </div>
                        {% endfor %}
                    {% endif %}
            
                    
            </div>
        </div>
</div>


<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% endblock %}
